@font-face {
  font-family: "montserraRegular";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "montserraBold";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "montserraExtraBold";
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: "montserraMedium";
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: "opensansRegular";
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

body {
  background: url(../img/goal-css.png) no-repeat 50% 0;
  background-color: #ebebeb;
  font-family: "montserraRegular";
  font-size: 16px;
  line-height: 24px;
}

h1 {
  display: none;
}

article {
  width: 500px;
  margin: 30px auto;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.384);
}
article > h2 {
  display: none;
}

#one img {
  border-radius: 145px;
  border: 3px solid #cccccc;
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}
#one h2 {
  font-family: "montserraExtraBold";
  color: #dd5555;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  padding: 20px;
}
#one h3 {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  color: #7d7d7d;
  padding-bottom: 20px;
  font-family: "montserraMedium";
}
#one p {
  font-size: 14px;
  text-align: justify;
  font-family: "montserraRegular";
  color: #9c9da3;
}
#one p span {
  font-family: "montserraBold";
  color: #7d7d7d;
}
#one p:nth-child(5) {
  text-align: center;
  padding-top: 15px;
}
#one p:nth-child(5) a {
  color: white;
  background-color: #dd5555;
  padding: 12px 14px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

#two h3 {
  display: none;
}

#two ul {
  display: flex;
  justify-content: space-between;
  width: 57%;
  margin: 34px auto;
}

#two ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #cccccc;
}
#two ul li a i {
  font-size: 1.6em;
  display: block;
  text-align: center;
  color: #cccccc;
  margin-bottom: 7px;
}

#three h3 {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  color: #7d7d7d;
  padding: 18px;
  font-family: "montserraMedium";
}
#three h3 span {
  background-color: #d4d4d4;
}

#three img {
  float: left;
  width: 80px;
  padding-right: 15px;
}
#three ol li {
  padding: 25px 10px;
  clear: both;
}
#three ol li:first-child img {
  padding-top: 5px;
}

#three ol li:nth-child(3) img {
  padding-top: 38px;
}
#three ol li h4 {
  text-align: center;
  padding-bottom: 20px;
  color: #8b8b8a;
}

#three ol li p {
  text-align: justify;
  font-family: "opensansRegular";
  font-size: 15px;
  padding-left: 100px;
  color: #8b8b8a;
}
